PORT=5000
# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/tournamentDB?retryWrites=true&w=majority

# Frontend URL (for password reset links)
FRONTEND_URL=http://localhost:5173

# Email Credentials (Gmail)
EMAIL_SERVICE=gmail
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password

# Environment Info
NODE_ENV=development
